/* BASIC SETTINGS */
*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    scroll-behavior: smooth; 
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    color: black; }
a{  text-decoration: none; }
li{ list-style-type: none;}
h1{ font-size: 40px; }
h4 {color: white; 
    font-size: 36px; }
h5 {color: white; 
    font-size: 24px; }
p { color: white;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.5; }
.background{
    z-index: -5;
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100vh;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, rgb(240, 240, 240) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(240, 240, 240) 1px, transparent 1px); 
}
.background2{
    z-index: -5;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-size: 40px 40px;
    background-color:rgb(240, 240, 240);
    background-image:
        linear-gradient(to right, white 1px, transparent 1px),
        linear-gradient(to bottom, white 1px, transparent 1px); 
}
.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.opacity{
    opacity: 0%;
}

/* ANIMATIONS */
@keyframes move {
    0%{ transform: translateY(0px); }
    50%{ transform: translateY(20px); }
    100%{ transform: translateY(0px); }
}

@keyframes size {
    0%{ transform: scale(1); }
    50%{ transform: scale(1.2); }
    100%{ transform: scale(1); }
}

/* NAV BAR */
.nav{
    z-index: 15;
    padding: 30px 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.navItem{
    cursor: pointer;
    width: 30vw;
    height: 90%;
    /* flex-grow: 1;
    flex-shrink: 1; */
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: flex-grow .7s;

    font-size: 20px;
}
.navItem:hover{ opacity: 50%; }

#about{ justify-content: left; }
#sunjoo{ justify-content: center; }
#menu{ display:flex; justify-content: right; }

/* INTRO */
.intro{
    height: 100vh;
    padding-top: 30vh;

    display:grid;
    grid-template-columns: 300px;
    grid-auto-rows: 200px;
    grid-gap: 15%;
    justify-content: center;
}

.introItem{
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: flex-grow .7s;
}

.sun{
    cursor: pointer;
    width: 50px;
    margin: 10px 10px 0px 25px;
    opacity: 100%;

    /* animation-name: size;
    animation-duration: 2s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running; */
}
.sun:hover{ width: 60px; }

.arrow{
    cursor: pointer;
    width: 50px;
    opacity: 100%;

    animation-name: move;
    animation-duration: 2s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}
.arrow:hover{ opacity: 50%; }

/* SCROLL UP */
.bottom{
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 30px;
}

.up{
    cursor: pointer;
    width: 50px;
    opacity: 15%;
}
.up:hover{
    transform: scale(1.2);
    opacity: 25%;
}

/* OPEN MENU */
.openMenu{ display: none; }

.menu{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100vh;
    padding-top: 35vh;
    background-color: white;
    opacity: 100%;

    display: grid;
    grid-template-columns: 300px;
    grid-auto-rows: 50px;
    grid-gap: 20px;
    justify-content: center;
}

.menuItem{
    text-align: center;
    font-size: 20px;
}
.menuItem:hover{ opacity: 50%; }

.icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}

.icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.icon:hover{ opacity: 50%; }

.icon > img{
    width: 35px;
    margin-right: 10px;
}

/* WORK */
.work{
    /* border: 3px solid; */
    height: 200vh;
    width: 100%;
    margin-bottom: 10%;
    
    display: grid;
    grid-template-columns: 100vw;
    grid-auto-rows: 100vh;
    justify-content: center;
}

.workTitle{
    width: 100px;
    height: 200px;
}

#workTitle{
    font-size: 150px;
    -webkit-text-stroke: 3px;
    -webkit-text-fill-color: white;
}
#workTitle:hover{
    font-style: italic;
    -webkit-text-fill-color: rgb(240, 240, 240);
}

.work1{
    width: 100%;
    padding: 0px 0px 0px 50px;
}
.work2{
    width: 100%;
    padding: 0px 0px 0px 50px;
    height: 80vh;
}
.work3{
    width: 100%;
    height: 24px;
    justify-content: center;
    align-items: center; 
    margin-top: -24px;
    text-decoration: underline;
    font-size: 24px;
}

.more{ margin-top: 5%; }

.more:hover{ opacity: 50%; }

.workItem{
    padding: 50px;

    cursor: pointer;
    height: 80vh;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex-grow .7s;
}
.workItem2{
    border: 3px solid;
    padding: 50px;

    cursor: pointer;
    height: 80vh;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: flex-grow .7s;
}

/* WORKITEM1 */
#workItem1{
    border: 3px solid;
    background-image: url("img/workItem/lumina.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
#workItem1:hover{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("img/workItem/lumina.jpg");
}
#workItem1 > h4{
    display: none;
    color: white;
}
#workItem1 > h4 > p{
    color: white;
    opacity: 75%;
    margin-top: 10%;
}
/* WORKITEM2 */
#workItem2{
    border: 3px solid;
    background-image: url("img/workItem/waves.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
#workItem2:hover{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("img/workItem/waves.jpg");
}
#workItem2 > h4{
    display: none;
    color: white;
}
#workItem2 > h4 > p{
    color: white;
    opacity: 75%;
    margin-top: 10%;
}

/* WORKITEM3 */
#workItem3{
    border: 3px solid;
    background-image: url("img/workItem/samsung.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
#workItem3:hover{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("img/workItem/samsung.jpg");
}
#workItem3 > h4{
    display: none;
    color: white;
}
#workItem3 > h4 > p{
    color: white;
    opacity: 75%;
    margin-top: 10%;
}

/* PASSION PROJECTS */
.passion{
    /* border: 3px solid; */
    height: auto;
    display: flex;
    flex-direction: column;
}

.passionTitle{
    text-align: center;
    padding: 5% 10%;
}
#passionTitle{
    font-size: 80px;
    -webkit-text-stroke: 3px;
    -webkit-text-fill-color: white;
}
#passionTitle:hover{
    font-style: italic;
    -webkit-text-fill-color: rgb(240, 240, 240);
}

.passionItem{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

/* SLIDER */
#slider{
    border: 3px solid;
    position: relative;
    aspect-ratio: 16/9;
    width: 70vw;
    overflow: hidden;
}

#slider li{ float: left; }
#slider img{ width: 70vw; object-fit: cover; }

.sliderIcon{
    cursor: pointer;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.prev{
    width: 50px;
    transform: rotate(90deg);
}
.prev:hover{
    transform: rotate(90deg) translateY(10px);
    opacity: 50%;
}
.next{
    width: 50px;
    transform: rotate(-90deg);
}
.next:hover{
    transform: rotate(-90deg) translateY(10px);
    opacity: 50%;
}

.sliderTitle{
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
    text-align: center;
    align-items: center;
    opacity: 0%;

    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 100%;
    justify-content: flex-start;
}
.sliderTitle:hover { opacity: 100%; }
.sliderTitle > h4 > p{ margin-top: 2%; }

/* CONTACT */
.contact{
    height: 40%;
    display: grid;
    grid-gap: 20px;
    justify-content: right;
    text-align: right;
    top: 10vh;
    padding: 10%;
}
.contactTitle{
    width: 100%;
    margin: auto;
}
#contactTitle{
    width: 100%;
    text-align: right;
    font-size: 75px;
    -webkit-text-stroke: 3px;
    -webkit-text-fill-color: white;
}
#contactTitle:hover{
    font-style: italic;
    -webkit-text-fill-color: rgb(240, 240, 240);
}
.infoItem{
    width: 100%;
    font-size: 22px;
    display: grid;
    align-items: center;
}
.phone:hover{ opacity: 50%; text-decoration: underline; }
.mail:hover{ opacity: 50%; text-decoration: underline; }

/* FOOTER */
footer{
    display: block;
    text-align: center;
    height: 10vh;
    margin-bottom: 2vh;
    display: grid;
    align-items: center;
    justify-content: center;
}
.info{
    font-size: 18px;
    color: gray;
}

/* ------------------------------ */
/* ABOUT */
/* ------------------------------ */
.about{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* padding: 50px 50px 50px 100px; */
    padding: 100px;
    align-items: center;
    justify-content: center;
}

.aboutItem{
    width: 100%;
    /* padding-right: 50px; */
}
.aboutItem > h1{ margin-bottom: 5%; }
.aboutItem > div{
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.aboutInfo{
    padding-right: 5%;
}

#aboutIcon{
    margin-right: 5%;
}

.profile{
    border: 3px solid;
    width: 90%;
    display: flex;
    height: auto;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
    float: right;
}

.profile > img{
    width: 100%; height: auto;
}

/* ------------------------------ */
/* WORK / PASSION */
/* ------------------------------ */
  #page{
    width: 100%;
    height: auto;
    margin-bottom: 5vw;
    display: block;
    padding: 100px 5% 5% 5%;
}

  .pageTitle{
    /* border: 3px solid; */
    margin-bottom: 50px;
    -webkit-text-stroke: 3px;
    -webkit-text-fill-color: white;
    font-size: 60px;
}

  .grid-container {
    width: 100%;
    height: auto;
    display:grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: minmax(min-content, max-content);
    /* border: 3px solid; */
    grid-gap: 2%;
    grid-row-gap: 4%;
    justify-content: center;
  }
  .grid-items{
    flex: 33.3% 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    position: relative;
  }
  /* .grid-items:hover{ transform: scale(1.05); } */

  .image-container {
    display: grid;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-container > img {
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    background-color: rgba(0,0,0,0.75);
    opacity: 0%;
  }
  .info-container:hover{ opacity: 100; }
  .info-container > p{ margin-top: 5%; }

/* ------------------------------ */
/* CONTENT */
/* ------------------------------ */
.content{
    display: block;
    width: 100%;
    height: auto;
    padding-top: 100px;
    justify-content: center;
}

.mainImage{
    /* border: 3px solid; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
    overflow: hidden;
}
.mainImage > h4{
    padding: 5%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 2%;
    align-items: center;
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}
.mainImage > h4 > a{
    color:white;
    font-size: 24px;
    opacity: 50%;
    margin-bottom: 2%;
}
.mainImage > h4 > a:hover{ opacity:100%; }
.mainImage > img{
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentItems{
    width: 100%;
    padding: 10% 10% 0% 10%;
}
.contentItems > *{
    width: 100%;
    height: auto;
    margin-bottom: 4%;
}
.contentItems > iframe{
    aspect-ratio: 16/9;
}

.half{
    display: grid;
    grid-template-columns: 48% 48%;
}
.half > img{
    width: 100%;
    height: auto;
}
.half > img:nth-child(2){
    margin-left: 8%;
}

.mainVideo{
    /* border: 3px solid; */
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    overflow: hidden;
    margin: auto;
}
.mainVideo > h4{
    color: black;
    padding: 0% 0% 5% 0%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    grid-gap: 10px;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
}
.mainVideo > h4 > p{ color:black; font-size: 14px; }
.mainVideo > h4 > a{
    color:white;
    font-size: 24px;
    opacity: 50%;
    margin-bottom: 2%;
}
.mainVideo > h4 > a:hover{ opacity:100%; }

.contentVideo{
    padding-top: 0;
    height: 100%;
}

.thanks{ text-align: center; }

.contactBox{
    width: 100vw;
    flex-direction: column;
    padding: 100px 5% 5% 5%;
}

.contactBox > h2{
    margin-bottom: 2%;
}

form{
    margin: auto;
    width: 50%;
    justify-content: center;
}

input{
    width: 100%;
    margin-bottom: 5%;
    padding: 10px;
}

input[type=text], select, textarea{
    width: 100%;
    resize: vertical;
    border: 3px solid;
    padding: 10px;
    margin-bottom: 5%;
}

input[type="submit"]{
    margin: auto;
    width: 80px;
    text-align: center;
    border: 3px solid;
    background-color: white;
    color: black;
    border-radius: 5px;
}

input[type="submit"]:hover{
    background-color: black;
    color: white;
}

.submit_btn{
    display: flex;
    justify-content: center;
    width: 100%;
}

form >textarea{
    height: 300px;
    width:100%;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    h1{ font-size: 30px; }
    h4{ font-size: 20px; }
    h5{ font-size: 20px; }
    p{ font-size: 16px; }

    .nav{ padding: 30px; }
    .navItem{ font-size: 14px; }

    .sun{ width: 35px; }
    .sun:hover{ width: 40px; }
    .arrow{ width: 35px; }
    .up { width: 35px; }

    .work{ height: 100vh; grid-auto-rows: 50vh; }
    #workTitle{ font-size: 70px; -webkit-text-stroke: 2px; }
    .work1{ height: 50vh; padding: 0px 0px 0px 25px; }
    .work2{ height: 40vh; padding: 0px 0px 0px 25px; }
    .work3{
        font-size: 14px;
    }
    .workItem{
        padding: 50px;
    
        cursor: pointer;
        height: 40vh;
        flex-grow: 1;
        flex-shrink: 1;
        margin-right: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: flex-grow .7s;
    }
    .workItem2{
        border: 3px solid;
        padding: 50px;
    
        cursor: pointer;
        height: 40vh;
        flex-grow: 2;
        flex-shrink: 1;
        flex-basis: auto;
        margin-right: 25px;
        display: flex;
        justify-content: center;
        align-items: center;   
        transition: flex-grow .7s;
    }

    #workItem1 { border: 2px solid; }
    #workItem2 { border: 2px solid; }
    #workItem3 { border: 2px solid; }

    #passionTitle{ font-size: 45px; -webkit-text-stroke: 2px; }

    .sliderIcon{ width: 1%; display: none; }
    .prev{ width: 30px; }
    .next{ width: 30px; }

    #slider{ border: 2px solid; }

    .contact{ padding: 15% 5% 5% 5%; }
    #contactTitle{ font-size: 35px; -webkit-text-stroke: 2px; }
    #contactTitle:hover{ -webkit-text-stroke: 2px; }

    .infoItem{ font-size: 14px; }

    .info{ font-size: 12px; }

    footer{ height: 4vh; }

    /* ABOUT */
    .about{ height: 80vh; padding: 15vh 15% 15% 15%; display: inline-block; }
    .aboutItem > div{ justify-content: center; }
    .aboutItem { text-align: center; }
    .aboutItem > p {font-size: 14px; }
    .aboutInfo{ padding-right: 0; margin-bottom: 20%; }
    #aboutIcon > img { width: 25px; }
    .profile{ border: 2px solid; display: flex; justify-content: center; float:none; margin: auto; }

    .grid-container {
        grid-template-columns: 48% 48%;
        grid-gap: 4%;
        justify-content: center;
      }
    .grid-items{ border: 2px solid; }
    .pageTitle { font-size:50px; text-align: center; margin-bottom: 30px; -webkit-text-stroke: 2px;}

    .mainImage > h4 > a{ font-size:16px; }
    .mainVideo > h4 > a{ font-size:16px; }

    input[type=text], select, textarea{
        border: 2px solid;
    }
    input[type=submit]{border: 2px solid; width:70px;}
    form{ width: 70%; }
    .contactBox > h2{
        margin-bottom: 4%;
    }
}


@media screen and (max-height: 575px) {
    .arrow{ opacity: 0%; }
}