/* BASIC SETTINGS */
*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    scroll-behavior: smooth; 
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    color: black; }
a{  text-decoration: none; }
h1{ font-size: 40px; }
h4 { font-size: 36px; }
p { font-weight: 300;
    font-size: 22px; }
.background{
    z-index: -5;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, rgb(244, 244, 244) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(244, 244, 244) 1px, transparent 1px); 
}
.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* ANIMATIONS */
@keyframes move {
    0%{ transform: translateY(0px); }
    50%{ transform: translateY(20px); }
    100%{ transform: translateY(0px); }
}

@keyframes size {
    0%{ transform: scale(1); }
    50%{ transform: scale(1.2); }
    100%{ transform: scale(1); }
}

/* NAV BAR */
.nav{
    z-index: 15;
    padding: 30px 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.navItem{
    cursor: pointer;
    height: 90%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: flex-grow .7s;

    font-size: 20px;
}
.navItem:hover{ opacity: 50%; }

#about{ justify-content: left; }

#menu{ justify-content: right; }

/* INTRO */
.intro{
    height: 100vh;
    padding-top: 30vh;

    display:grid;
    grid-template-columns: 300px;
    grid-auto-rows: 200px;
    grid-gap: 80px;
    justify-content: center;
}

.introItem{
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: flex-grow .7s;
}

.sun{
    cursor: pointer;
    width: 50px;
    margin: 10px 10px 0px 25px;

    /* animation-name: size;
    animation-duration: 2s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running; */
}
.sun:hover{ width: 60px; }

.arrow{
    cursor: pointer;
    width: 50px;

    animation-name: move;
    animation-duration: 2s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}
.arrow:hover{ opacity: 50%; }

/* SCROLL UP */
.bottom{
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 30px;
}

.up{
    cursor: pointer;
    width: 50px;
    opacity: 15%;
}
.up:hover{
    transform: scale(1.2);
    opacity: 25%;
}

/* OPEN MENU */
.openMenu{ display: none; }

.menu{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100vh;
    padding-top: 35vh;
    background-color: white;
    opacity: 100%;

    display: grid;
    grid-template-columns: 300px;
    grid-auto-rows: 50px;
    grid-gap: 20px;
    justify-content: center;
}

.menuItem{
    text-align: center;
    font-size: 20px;
}
.menuItem:hover{ opacity: 50%; }

.icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}

.icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.icon:hover{ opacity: 50%; }

.icon > img{
    width: 35px;
    margin-right: 10px;
}

/* WORK */
.work{
    /* border: 3px solid; */
    height: 210vh;
    width: 100%;
    
    display: grid;
    grid-template-columns: 100vw;
    grid-auto-rows: 100vh;
    justify-content: center;
}

.workTitle{
    width: 100px;
    height: 200px;
}

#workTitle{
    font-size: 150px;
    -webkit-text-stroke: 3px;
    -webkit-text-fill-color: white;
}
#workTitle:hover{
    font-style: italic;
    -webkit-text-fill-color: rgb(240, 240, 240);
}

.work1{
    width: 100%;
    padding: 0px 0px 0px 50px;
}
.work2{
    width: 100%;
    padding: 0px 0px 0px 50px;
    height: 80vh;
}
/* .work3{
    width: 100%;
    padding: 0px 0px 0px 50px;
} */
.work4{
    width: 100%;
    height: 4vh;
    justify-content: center;
    align-items: center; 
    margin-top: -2vh; 
    text-decoration: underline;
    font-size: 24px;
}

.more:hover{ opacity: 50%; }

.workItem{
    padding: 50px;

    cursor: pointer;
    height: 80vh;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex-grow .7s;
}
.workItem2{
    border: 3px solid;
    padding: 50px;

    cursor: pointer;
    height: 80vh;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: flex-grow .7s;
}

/* WORKITEM1 */
#workItem1{
    border: 3px solid;
    background-image: url("img/workItem/lumina.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
#workItem1:hover{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("img/workItem/lumina.jpg");
}
#workItem1 > h4{
    display: none;
    color: white;
}
#workItem1 > h4 > p{
    color: white;
    opacity: 75%;
    margin-top: 10%;
}
/* WORKITEM2 */
#workItem2{
    border: 3px solid;
    background-image: url("img/workItem/waves.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
#workItem2:hover{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("img/workItem/waves.jpg");
}
#workItem2 > h4{
    display: none;
    color: white;
}
#workItem2 > h4 > p{
    color: white;
    opacity: 75%;
    margin-top: 10%;
}

/* WORKITEM3 */
#workItem3{
    border: 3px solid;
    background-image: url("img/workItem/samsung.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
#workItem3:hover{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("img/workItem/samsung.jpg");
}
#workItem3 > h4{
    display: none;
    color: white;
}
#workItem3 > h4 > p{
    color: white;
    opacity: 75%;
    margin-top: 10%;
}

/* PASSION PROJECTS */
.passion{
    /* border: 3px solid; */
    height: 100vh;
}

.passionTitle{
    text-align: center;
    padding: 50px 50px 0px 50px;
}

#passionTitle{
    font-size: 80px;
    -webkit-text-stroke: 3px;
    -webkit-text-fill-color: white;
}
#passionTitle:hover{
    font-style: italic;
    -webkit-text-fill-color: rgb(240, 240, 240);
}

.passionItem{
    justify-content: center;
    align-items: center;
}

.slider{
    background-color: blue;
    width: 65%;
    height: 70vh;
    margin-top: 30px;
}

/* CONTACT */
.contact{
    border: 3px solid;
    height: 100vh;
}
